.nav-tabs .nav-link {
	border-top-left-radius: .7rem !important;
	border-top-right-radius: .7rem !important;
}

.icon-black {
	color: black !important;
}

.tab-pane {
	margin: 25px !important;
}

#social-graph {
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0;
	top: 10%;
	width: 100%;
	height: 90%;
	overflow: hidden;
}

#social-graph-sidebar {
	position: fixed;
	margin: 0;
	padding: 0;
	z-index: 1;
	right: 0;
	top: 10%;
	width: 0;
	height: 90%;
	overflow: hidden;
	transition: 0.5s;
}

#social-graph-instruction {
	position: fixed;
	margin-top: -10px;
}
